Repository octoposprime/op-web-site, pull requests merged in 2024-06, with the labels that each got.

#69 Unused images were deleted.
  image/close_FILL0_wght400_GRAD0_opsz24.svg
  image/frame.png
  image/menu_FILL0_wght400_GRAD0_opsz24 copy.svg
  image/menu_FILL0_wght400_GRAD0_opsz24.svg
  image/octoposprime.jpg
Labels: documentation, Web, Fe

#71 docs: change all compnay logos
  image/icons/MergeCycle.png
  image/icons/backend.webp
  image/icons/electric.webp
  image/icons/game.webp
  image/icons/modest.webp
  image/icons/naccash.webp
  image/icons/ser.webp
  image/icons/ubnjr.webp
  image/icons/web.webp
  index.html
Labels: documentation, style, Web, Fe

#68 Button Location Changed
  style.css
Labels: medium priority, style, Web, Fe
