Repository octoposprime/op-web-site, pull requests merged in 2024-04, with the labels that each got.

#32 docs: img folder renamed to image, about page rechanged
  about/aboutpage.css
  about/aboutpage.html
  image/close_FILL0_wght400_GRAD0_opsz24.svg
  image/menu_FILL0_wght400_GRAD0_opsz24.svg
  image/octoposprime.jpg
  style.css
Labels: change, medium priority, style, Web, Fe

#34 docs: rechange contact page
  contact/contactpage.css
  contact/contactpage.html
  image/frame.png
  image/menu_FILL0_wght400_GRAD0_opsz24 copy.svg
  image/octopos-effects.png
  image/octopos.png
  style.css
Labels: change, medium priority, style, Web, Fe

#38 feat: The link path to the index.html on the pages has been corrected.
  about/aboutpage.html
  contact/contactpage.html
  feature/feature.html
  index.html
Labels: feature, Web, Fe, bug

#39 feat: Footer of all pages has been added.
  about/aboutpage.html
  feature/feature.html
Labels: feature, Web, Fe

#43 docs: We are trying to do more generic stylesheet
  about/about.css
  about/aboutpage.html
  feature/feature.css
  feature/feature.html
  style.css
Labels: change, style, Web, Fe

#45 feat: editing homepage
  index.html
  style.css
Labels: change, style, Web, Fe
